body {
    margin:0;
    padding:0;
    font-size: 100%;
    font-family: sans-serif;
}

p {
    margin:0;
    padding:0;
}

:root {
    --fontcolor: #3e7ee6;
    --background: #141e2e;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: var(--background);
    color: var(--fontcolor);
    min-width:100%;
}

header h1 {
    font-weight: 800;
    font-size: 200%;
    padding-left: 40px;
    padding-right: 10px;
    background-color: var(--fontcolor);
    color: var(--background);
}
header .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin-right: 50px;
    color: var(--fontcolor);
}
.navbar ul li {
    padding:10px;
    text-decoration: underline 2px;
    text-underline-offset: 5px;
}

.about img {
    max-width:125px;
    max-height: 125px;
}

.left {
    float:left;
    padding:0 20px 20px 0;
}


.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right:15px;
    align-items: flex-start;
    border-right: 4px solid var(--background);
    font-size: 4vw;
    line-height: 1.1;
}
.page-section > div {
    flex: 0 0 77%;
}


