body {
    margin:0;
    padding:0;
    font-size: 100%;
}
p {
    margin:0;
    padding:0;
}
:root {
    --fontcolor: #3e7ee6;
    --background: #141e2e;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background);
    color: var(--fontcolor);
    min-width:100%;
}

header h1 {
    font-weight: 800;
    font-size: 200%;
    padding-left: 40px;
    padding-right: 10px;
    background-color: var(--fontcolor);
    color: var(--background);
}
header .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin-right: 50px;
    color: var(--fontcolor);
}
.navbar ul li {
    padding:10px;
    text-decoration: underline 2px;
    text-underline-offset: 5px;
}

.about {
    margin-top:15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.about img {
    max-width:125px;
    max-height: 125px;
    padding-left: 2.5%;
    position: relative;
    top: 20px;
}
.about h2 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-basis: 15%;
    color: var(--background)
}
.about p {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    line-height: 170%;
    flex-basis: 70%;

}
.border {
    border-right: solid var(--background);
    margin-left: 1%;
}

.work {
    margin-top:15px;
    display: flex;
    flex-direction: row;
}
.work h2 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-basis: 15%;
    color: var(--background)
}
.work p {
    /* margin: 30px; */
    line-height: 140%;
    flex-basis: 85%;
}

.contact {
    margin-top:15px;
    display: flex;
    
}
.contact h2 {
    flex-basis: 15%;
    text-align: right;
}
.contact ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.contact ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: underline 2px;
    text-underline-offset: 5px;
}